/* Применится ко всем ссылкам на странице */
a {
	text-decoration: none;
}

/* Применится ко всем тегам с классом title */
.title {
	font-weight: 500;
}

/* Применится ко всем тегам с классом text */
.text {
	color: red;
	font-size: 18px;
}

#title {
	font-weight: 700;
	color: orange;
}

.logo-title {
	color: #2196f3;
}

.social-links {
	color: red;
	/* color-ref: red; */
	text-decoration: none;
}

/* Если использовать селектор потомка (контекстный), то CSS-правило применится ко всем тегам <li>, и синяя рамка будет у каждого. */
.menu li {
	border: 10px solid red;
}

/* Селектор ребёнка помогает решить эту проблему, выбрав только те <li>, которые являются детьми (первая вложенность) списка ul.menu. */
.menu > li {
	border: 5px solid blueviolet;
}

/* a[title] {
    color: teal;
  } */

/* Непривычное форматирование фигурных скобок это нормально */
a[href="https://htmlreference.io"]
{
	color: teal;
}

a[href="https://cssreference.io"]
{
	color: orange;
}

a[href="https://www.youtube.com"]
{
	color: red;
}

/* Активируется когда курсор мыши находится в пределах элемента, 
например при наведении мыши на ссылку. */
.nav-link .nav {
	color: #212121;
}

.nav-link .link:hover,
.nav-link .link:focus {
	color: #2196f3;
}

.nav-link .link:active {
	color red;
}

/* .nav-link .link:visited {
  color: green;
} */


/* .link-nav:focus */

.schedule-body > tr:hover {
  background-color: orange;
}

/* Оформление таблицы */
.schedule {
  border-collapse: collapse;
}

.schedule th,
.schedule td {
	/* размер таблицы */
  padding: 28px;
  	/* толщина рамки */
  border: 5px solid #8d0d0d;
}

/* Чистый красный цвет: 255 красного, 0 зеленого, 0 синего */
/* p {
  color: rgb(255, 0, 0);
} */
	 /* Чистый красный цвет: 100% красного, 0% зеленого, 0% синего */
/* .text {
  color: rgb(60%, 25%, 88%);
} */


/* Чистый красный цвет: ff (100%) красного, 00 (0%) зеленого, 00 (0%) синего */
/* .text {
  color: #ff0000;
}

Чистый зелёный цвет: 00 (0%) красного, ff (100%) зеленого, 00 (0%) синего */
/* .text {
  color: #00ff00;
} */

/* Чистый синий цвет: 00 (0%) красного, 00 (0%) зеленого, ff (100%) синего */
/* .text {
    background-color: rgba(255, 0, 0, 0.1);
} */

/* Специфичность - 0 0 0 1 */
/* p {
  color: green;
} */

/* ✅ Специфичность - 0 0 0 2 */
/* article > p {
  color: orange;
} */

/* Специфичность - 0 0 1 0 */
.post-title {
  color: green;
}

/* Специфичность - 0 0 1 1 */
/* .post > h1 {
  color: red;
} */

/* ✅ Специфичность - 0 0 2 0 */
/* .post > .post-title {
  color: orange; */
/* } */

/* Специфичность - 0 0 0 1
a {
  color: green;
}

/* Специфичность - 0 0 1 0 */
/* .post-link {
  color: orange;
} */

/* Специфичность - 0 0 1 1 */
/* a.post-link {
  color: blue;
} */

/* Специфичность - 0 0 2 0 */
/* .post > .post-link {
  color: red;
} */

/* ✅ Специфичность - 0 0 2 1 */
/* .post > a.post-link {
  color: brown; */
} */

.post {
  color: green;
}

.post-link {
  color: inherit;
}



