/* Используйте разметку и эти стили для практики рассматриваемых свойств */
.container {
	display: flex;

	width: 750px;
	padding: 30px;

	background-color: #455a64;
}

.element {
	width: 150px;
	height: 150px;

	font-size: 24px;
	text-align: center;
	line-height: 150px;
}

.pink {
	background-color: #e91e63;
}

.blue {
	background-color: #2196f3;
}

.amber {
	background-color: #ffc107;
}
