.box {
	/* Контролируют ширину и высоту элемента */
	width: 150px;
	height: 150px;

	/* Устанавливает рамку */
	border: 5px solid #2a2a2a;

	/* Добавляет внутреннее поле */
	padding: 30px;

	/* Устанавливает внешние отступы */
	margin: 100px;

	background-color: #009688;
}
